@media only screen and (min-width: 1024px) {

	body {
		margin-left: 200px;
		margin-right: 200px;
	}

}

	body {
		background-color: black;
		color: white;
		text-align: justify;
	}

	h3 {
		color: yellow;
	}

	li {
		color: #FF00FF;
	}
	
	a {
		color: #b5e853;
	}
	a:hover {
		color: white;
	}

	a:visited {
		color: blue;
	}

	.verbatim {
		color: red;
	}
